* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem;
  background-image: url(img/backimg.jpg);
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.keys {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 2rem;
}

.key {
  border: 1px solid #000;
  text-align: center;
}

kbd {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.sound {
  display: block;
  color: burlywood;
}
